@model IEnumerable<SportsLeague.Models.Division>

@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Skill Level
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.divisionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.divisionDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.divisionSkill)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.divisionId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.divisionId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.divisionId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create">Create New</a> |

    @Html.ActionLink("Home", "Index", "Home")
</body>
</html>
