@model IEnumerable<SportsLeague.Models.Division>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.divisionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.divisionDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.divisionSkill)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.maxTeamNumber)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.divisionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.divisionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.divisionSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxTeamNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.divisionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.divisionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.divisionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
